services:
  admin-console:
    build:
      context: ./services/admin-console
      dockerfile: dev.Dockerfile
    ports:
      - "3002:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://enterprise:3001
      - AUTH0_BASE_URL=http://varios-bzp-dataherald.3150ox.easypanel.host
      - AUTH0_ISSUER_BASE_URL=http://varios-bzp-dataherald.3150ox.easypanel.host
    restart: always
    networks:
      - dataherald_network
    volumes:
      - ./services/admin-console/src:/app/src
      - ./services/admin-console/public:/app/public

  engine:
    build:
      context: ./services/engine
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    environment:
      - CORE_PORT=80
      - db_uri=mongodb://mongo:421bed53ee31ad9bc4c9@varios_bzp-mongo/dataherald
      - db_name=dataherald
    command: uvicorn dataherald.app:app --host 0.0.0.0 --port 80 --log-config log_config.yml --log-level debug --reload
    stdin_open: true
    tty: true
    volumes:
      - ./services/engine/dataherald:/app/dataherald
    networks:
      - dataherald_network

  enterprise:
    build:
      context: ./services/enterprise
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "3001:3001"
    environment:
      - MONGODB_DB_NAME=dataherald
      - DB_URI=mongodb://mongo:421bed53ee31ad9bc4c9@varios_bzp-mongo/dataherald
      - AUTH0_DISABLED=True
      - AUTH0_ISSUER_BASE_URL=http://varios-bzp-dataherald.3150ox.easypanel.host
    command: uvicorn app:app --host 0.0.0.0 --port 3001 --log-level debug --reload
    stdin_open: true
    tty: true
    volumes:
      - ./services/enterprise:/app
    networks:
      - dataherald_network

#  slackbot:
#    build:
#      context: ./services/slackbot
#      dockerfile: Dockerfile
#    working_dir: /app
#    ports:
#      - "3005:3005"
#    environment:
#      - SLACK_SIGNING_SECRET=TU_SIGNING_SECRET
#      - SLACK_BOT_TOKEN=TU_BOT_TOKEN
#    volumes:
#      - ./services/slackbot:/app
#      - /app/node_modules
#    networks:
#      - dataherald_network

networks:
  dataherald_network:
    driver: bridge